OWNER_NUMBER=628xxxxxxxxxx
TZ=Asia/Jakarta

NO_KAREL=628xxxxxxxxxx
NO_RAFI=628xxxxxxxxxx
NO_TATA=628xxxxxxxxxx
NO_IHYA=628xxxxxxxxxx
NO_AZKA=628xxxxxxxxxx
NO_FAQIH=628xxxxxxxxxx

GROUP_SINERGI=
GROUP_P2MW_HIEREN=
GROUP_P2MW_PRIVAT=
