require('dotenv').config();

module.exports = {
    GEMINI_API_KEY: process.env.GEMINI_API_KEY, // Masih dipakai buat RAG Embedding
    GROQ_API_KEY: process.env.GROQ_API_KEY,     // Otak Utama (Llama 3)
};

TZ=Asia/Jakarta